LENS_TABLE_ROOT=path/to/lens/mytable
LENS_ANSYS_ROOT=path/to/lens/analysis

DPDD_PNG_ROOT=path/to/DPDD/dd_dp_dataset_png
DPDD_CR2_ORIGINAL_ROOT=path/to/downloaded/DPDD/CR2
DPDD_CR2_ROOT=path/to/DPDD/CR2
DPDD_DEPTH_ROOT=path/to/DPDD/depths

DATASYN_QUICK_TEST=./temp/syn-quick-test
DATASYN_CLDEFOCUS_KIND=test
DATASYN_CLDEFOCUS_ROOT=./temp/syn-cldefocus/test
